table#public-search-results.table.table-hover.hide
    thead
        tr
            th #{__('thead_username')}
            th #{__('thead_full_name')}
            th #{__('thead_actions')}
    tbody
    tfoot
        tr
            th #{__('thead_username')}
            th #{__('thead_full_name')}
            th #{__('thead_actions')}