extends ../layout
block content
	#recovery-password-message
	form.block(id="forgot-password", method="post", action="#{getUrl('users.recovery-password')}", data-socket="true", rel="#recovery-password-message")
		.form-group
			label #{__("username")}
			input.form-control(name='username', placeholder="#{__('username')}", autocomplete="off")
		.form-group
			label #{__('password')}
			input.form-control(name='password', placeholder="#{__('password')}", autocomplete="off", type="password")
		.form-group
			label #{__('confirm_password')}
			input.form-control(name='confirm_password', placeholder="#{__('confirm_password')}", autocomplete="off", type="password")
		input(type="hidden", value="#{key}", name="key")
		.form-group
			button.btn.btn-primary.pull-right(type="submit", tabindex="5") #{__("save_changes")}